@import 'variable.scss';
@import 'mixins.scss';

.header {
    width: 100%;
    padding:5px 0;
    background: #af1920;
    @include position(fixed,0,auto,auto,0,7);

    .headerTop {
        border-bottom: 1px solid #840517;
    }

    .headerSubmenu {
        text-align: right;
        padding: 6px 0 7px;

        a {
            font-size: 13px;
            letter-spacing: 1px;
            color: #ffffff;
            margin-left: 12px;
        }
    }

    .logo {

        img {
            width: 90px;
        }
    }
}

.toggleMenu {
    border: none;
    cursor: pointer;
    padding: 5px;
    @include transition(all $transitionTime ease);
    @include position(fixed,5px,10px,auto,auto,9);
    @include user-select(none);

    &:hover {
        .menuBar {
            background: #ef9588;
        }
    }

    .menuBar {
        width: 29px;
        height: 2px;
        margin-bottom: 6px;
        background: #ffffff;
        @include transition(transform $transitionTime ease);

        &:nth-child(3) {
            @include transition(opacity 0.1s ease);
        }
    }

    &.active {
        .menuBar {
            &:nth-child(1) {
                margin-top: 8px;
                @include transform(rotate(45deg));
            }

            &:nth-child(2) {
                margin-top: -8px;
                @include transform(rotate(-45deg));
            }

            &:nth-child(3) {
                @include opacity(0,0);
            }
        }
    }
}

.mainNavigation {
    height: 100vh;
    width: 268px;
    overflow-y: auto;
    background: rgba(#2c373e,1);
    color: #ffffff;
    -webkit-overflow-scrolling: touch;
    @include transition(all $transitionTime ease);
    @include position(fixed,40px,-268px,auto,auto,8);

    &.open {
        right: 0;
    }

    &.topZero {
        top: 0;
    }

    .menuIcons {
        height: 81px;
    }

    .mainMenu {
        list-style: none;
        padding: 40px 0 29px 0;
        margin: 0;
        border-bottom: 1px solid #5c5d62;

        li {
            padding: 0;
            margin-bottom: 23px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                position: relative;
                display: block;
                font-size: 18px;
                color: #ffffff;
                padding: 0 15px 0 53px;
                text-transform:uppercase;

                &:before {
                    font-family: 'FontAwesome';
                    content: "\f04b";
                    font-size: 12px;
                    @include opacity(0,0);
                    @include position(absolute,5px,auto,auto,26px,1);
                }

                &:hover {
                    color: $generalRedLink;

                    &:before {
                        @include opacity(1,100);
                    }
                }
            }
        }
    }

    .menuLanguage {
        font-size: 18px;
        margin-top: 31px;
        margin-bottom: 50px;
        padding-left:20px;
        padding-right:20px;

        .languageTitle {
            padding: 0 15px 0 33px;
        }

        .currentLanguage {
            position: relative;
            border: none;
            background: transparent;
            width: 100%;
            padding: 9px 15px 9px 31px;
            text-align: left;
            border: 2px #838282 solid;
            border-radius: 5px;

            &.active {
                border-radius: 5px 5px 0 0;

                i {
                    @include transform(rotate(180deg))
                }
            }

            i {
                font-size: 14px;
                @include position(absolute,14px,auto,auto,10px,1);
            }

            img {
                display: inline-block;
                width: 20px;
                margin-right: 10px;
            }
        }

        .dropdownLanguage {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            border: 2px #838282 solid;
            border-top: none;
            border-radius: 0 0 5px 5px;

            li {
                a {
                    display: block;
                    color: #ffffff;
                    padding: 11px 15px 11px 31px;

                    &:hover {
                        color: $generalRedLink;
                    }

                    img {
                        display: inline-block;
                        width: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.menuIcons {
    margin-top: 10px;
    margin-left: 17px;

    a {
        display: inline-block;
        color: #ffffff;
        font-size: 24px;
        margin: 0 6px;
    }
}

/* not touch device */
.no-touchevents {
    .header {
        .headerSubmenu {
            a {
                font-size:18px;
                line-height:24px;
                text-transform:uppercase;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .menuIcons {
        a {
            position: relative;
            top: 0;
            @include transition(all 0.2s ease);

            &:hover {
                color: #f09789;
            }
        }
    }
}

@media (min-width: $tabletSize) {
    
}

@media (min-width: $labtopSize) {
    .header {
        padding: 10px 0 7px;

        .logo {
            margin-left: 21px;

            img {
                width: 108px;
            }
        }

        .menuIcons {
            text-align: center;
            margin-top: 28px;
            margin-left: 0;

            a {
                margin: 0 9px;
            }
        }

        .headerSubmenu {
            margin-right: 85px;

            a {
                margin-left: 20px;
            }
        }
    }
    .toggleMenu {
        top: 13px;
        right: 32px;
    }
    .mainNavigation {
        top: 0;
        width:312px;
        right:-312px;
        .mainMenu{
            margin-top:81px;
            padding-top:0;
        }
    }
}

@media (min-width: $DesktopSize) {
    
}
