@import 'variable.scss';
@import 'mixins.scss';

.testimonial {
    text-align: center;
    padding-top: 56px;
    padding-bottom: 35px;

    .testimonialItem {
        outline: none;
    }

    blockquote {
        position: relative;
        border: none;
        padding: 42px 0 0 0;
    }

    .quoteSign {
        font-family: 'Montserrat-Bold';
        font-size: 75px;
        display: inline-block;
        @include position(absolute,-27px,auto,auto,0,1);
    }

    .quoteTitle {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .quoteText {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
    }

    .quoteAuthor {
        margin-top: 29px;
    }

    .quoteAuthorImage {
        display: inline-block;
        width: 96px;
        height: 96px;
        overflow: hidden;
        margin-bottom: 13px;
        @include border-radius(50%);

        img {
            width: 100%;
        }
    }

    .quoteAuthorName {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .quoteAuthorTitle {
        font-family: 'Roboto-Regular';
        font-size: 16px;
        line-height: 24px;
        color: $generalRed;
    }

    .slick-initialized .slick-slide {
        display: block;
        overflow: hidden;
    }

    .slick-dots {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        position: relative;
        top: -14px;

        li {
            display: inline-block;

            &.slick-active {
                button {
                    background: #e3e3e3;
                }
            }

            button {
                margin: 0 6px 6px;
                width: 9px;
                height: 9px;
                padding: 0;
                border: none;
                background: #f1f1f1;
                @include border-radius(50%);
            }
        }
    }
}

@media (min-width: $tabletSize) {
}

@media (min-width: $labtopSize) {
    .testimonial {
        padding-top: 105px;
        padding-bottom: 88px;

        .testimonialList {
            &:before {
                content: '';
                width: 20px;
                @include gradientLinearVertical(#ffffff, #ffffff, 1, 0, 5%, 100%);
                @include position(absolute,0,auto,0,0,1);
            }

            &:after {
                content: '';
                width: 20px;
                @include gradientLinearVertical(#ffffff, #ffffff, 1, 0, 5%, 100%);
                @include position(absolute,0,0,0,auto,1);
                @include transform(rotate(180deg));
                @include transformOrigin(center);
            }
        }

        blockquote {
            padding: 0 100px;
        }

        .quoteSign {
            left: 45px;
        }

        .quoteTitle {
            font-size: 20px;
            margin-bottom: 9px;
        }
    }
}

@media (min-width: $DesktopSize) {
}
