@import 'variable.scss';
@import 'mixins.scss';

.teamSection {
    text-align: center;
    padding-bottom: 61px;
    padding-top: 46px;

    .teamTitle {
        margin-bottom: 34px;

        h2 {
            margin-bottom: 0;
        }
    }

    .teamItem {
        min-height: 96px;
        margin-top: 37px;

        &:nth-child(1) {
            margin-top: 0;
        }
    }

    .teamItemWraper {
        font-size: 0;
        cursor: pointer;


        &.active {
            width: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            @include position(absolute,0,auto,auto,0,0);
        }

        .teamItemImage {
            position: relative;
            display: inline-block;
            vertical-align: middle;

            &:hover {
                .teamItemImageWrapper {
                    @include boxShadow(0 0 11px 4px rgba(#000000, 0.3));
                }
            }

            .teamItemImageWrapper {
                width: 96px;
                height: 96px;
                overflow: hidden;
                @include transition(box-shadow 0.2s ease);
                @include border-radius(50%);
            }

            img {
                width: 100%;
            }
        }

        .signPlus {
            width: 17px;
            height: 17px;
            background: $generalRed;
            color: #ffffff;
            font-size: 10px;
            text-align: center;
            @include position(absolute,auto,auto,-7px,50%,1);
            @include transform(translateX(-50%));
            @include border-radius(50%);

            i {
                margin-top: 4px;
                display: inline-block;
            }
        }

        .teamItemInfo {
            display: inline-block;
            vertical-align: middle;
            width: 179px;
            margin-left: 14px;
            text-align: left;
        }

        .teamItemName {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 0;
        }

        .teamItemPosition {
            font-family: 'Roboto-Regular';
            font-size: 16px;
            color: #c7002c;
        }
    }

    .teamItemDetail {
        position: relative;
        z-index: 1;
        background: $generalRed;
        color: #ffffff;
        font-size: 14px;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 25px;
        max-height: 0;
        overflow: hidden;
        text-align: left;
        @include transition((max-height $transitionTime cubic-bezier(0, 1, 0, 1), opacity $transitionTime ease-in));
        @include opacity(0,0);

        &.open {
            max-height: 500px;
            @include transform(scale(1, 1));
            @include transition(max-height $transitionTime ease-in);
            @include opacity(1,100);
        }

        p {
            padding-top: 20px;
            padding-bottom: 20px;
            line-height: 27px;
            margin-bottom: 0;
            min-height: 105px;
        }
    }
}
.closeButton {
    cursor: pointer;
    @include position(absolute,10px,10px,auto,auto,2);
}
.closeMask {
    cursor: pointer;
    @include position(absolute,0,0,0,0,1);
}

/* Advisor section */
.advisorSection {
    .teamItemWraper {
        .signPlus {
            background: #ffffff;
            color: $generalRed;
        }
    }

    .teamItemDetail {
        background: #ffffff;
        color: $pageFontColor;
    }

    .closeButton {
        color: $generalRed;
    }
}

@media (min-width: $tabletSize) {
}

@media (min-width: $labtopSize) {
    .teamSection {
        padding-bottom: 141px;
        padding-top: 87px;

        .teamTitle {
            margin-bottom: 77px;
        }

        .teamItem {
            height: 312px;
            margin-top: 106px;

            &:nth-child(2), &:nth-child(3) {
                margin-top: 0;
            }
        }

        .teamItemWraper {
            &.active {
                position: relative;
            }

            .teamItemImage {
                margin-bottom: 29px;

                .teamItemImageWrapper {
                    width: 221px;
                    height: 221px;
                }
            }

            .signPlus {
                width: 36px;
                height: 36px;
                font-size: 17px;
                bottom: -17px;

                i {
                    margin-top: 9px;
                }
            }

            .teamItemInfo {
                width: 100%;
                margin-left: 0;
                text-align: center;
            }
        }

        .teamItemDetail {
            display:none !important;
            font-family: 'Roboto-Light';
            width: 330px;
            min-height:330px;
            max-height: none;
            font-size: 15px;
            text-align: center;
            padding: 52px;
            @include border-radius(50%);
            @include position(absolute,-2px,auto,auto,50%,2);
            @include transform(translateX(-46%) translateZ(0) scale(0, 0));
            @include transformOrigin(50% 10%);
            @include transition((transform 0.2s ease-in, opacity 0.3s ease-in));
            @include opacity(0,0);

            &.open {
                max-height: none;
                @include transform(translateX(-46%) translateZ(0) scale(1, 1));
                @include transition((transform 0.2s ease-in, opacity 0.3s ease-in));
                @include opacity(1,100);
            }

            p {
                line-height: 28px;
                padding: 0;
            }
        }
    }
    .closeButton {
        right: auto;
        left: 50%;
        top: 16px;
        font-size: 18px;
        @include transform(translateX(-50%));
    }  
    .closeMask {
        @include border-radius(50%);
    }
    .teamDetailPerson {
        @include position(fixed,0,0,0,0,-99);
        &.open{
            z-index:99;
        }
    }
    .detailPerson {
        font-family: 'Roboto-Light';
        width: 635px;
        min-height: 635px;
        max-height: none;
        font-size: 15px;
        text-align: center;
        padding: 94px;
        background: $generalRed;
        color: $pageFontColor;
        @include border-radius(50%);
        @include position(absolute,50%,auto,auto,50%,99);
        @include transform(translateY(-50%) translateX(-50%) translateZ(0) scale(0, 0));
        @include transformOrigin(50% 10%);
        @include transition((transform 0.2s ease-in, opacity 0.3s ease-in));
        @include opacity(0,0);

        &.open {
            max-height: none;
            @include transform(translateY(-50%) translateX(-50%) translateZ(0) scale(1, 1));
            @include transition((transform 0.2s ease-in, opacity 0.3s ease-in));
            @include opacity(1,100);
        }

        p {
            color: #ffffff;
            line-height: 28px;
            padding: 0;
        }

        .closeButton {
            color: #ffffff;
        }

        .detailPersonText {
            width: 447px;
            @include position(absolute,50%,auto,auto,50%,0);
            @include transform(translate(-50%,-50%));
        }

        &.whiteCircle {
            background: #ffffff;
            color: $pageFontColor;

            p {
                color: $pageFontColor;
            }

            .closeButton {
                color: $generalRed;
            }
        }
    }
}

@media (min-width: $DesktopSize) {
}