@import 'variable.scss';
@import 'mixins.scss';

.teaserBox {
    padding-top: 31px;
    padding-bottom: 47px;

    .teaserTitle {
        text-align: center;

        h2 {
            margin-bottom: 0;
        }
    }

    .teaserItem {
        text-align: center;
        margin-top: 47px;
    }

    .teaserItemImage {
        margin-bottom: 10px;
        margin-bottom: 39px;
    }

    .teaserItemTitle {
        margin-bottom: 5px;
    }

    .teaserItemInfo {
        margin-bottom: 0;
    }
    /* 3 columns */
    &.teaserThreeColumn {
        padding-top:46px;
        padding-bottom:50px;
        .teaserItemImage {
            margin-bottom: 19px;
        }
    }
}

@media (min-width: $tabletSize) {
}

@media (min-width: $labtopSize) {
    .teaserBox {
        padding-top: 67px;
        padding-bottom: 106px;

        .teaserTitle {
            margin-bottom: 43px;
        }

        .teaserItemImage {
            margin-bottom: 34px;
        }
        /* 3 columns */
        &.teaserThreeColumn {
            padding-top: 104px;
            padding-bottom: 105px;

            .teaserItemImage {
                margin-bottom: 12px;
            }
        }
    }
}

@media (min-width: $DesktopSize) {
}