/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../fonts/Montserrat-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
html {
  height: 100%;
  overflow-x: hidden; }

body {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  font-size: 16px;
  font-family: 'Roboto-Light';
  color: #232323;
  background: #ffffff; }

h1, h2, h3 {
  margin-top: 0;
  text-transform: uppercase; }

h1, .h1Style {
  font-size: 36px; }

h2, .h2Style {
  font-family: 'Montserrat-Light';
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px; }

h3, .h3Style {
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  letter-spacing: 1px; }

p {
  line-height: 28px; }

.sectionTitle {
  font-size: 18px;
  margin-bottom: 30px; }

button {
  outline: none; }

a, a:focus, a:active, a:hover {
  outline: none;
  text-decoration: none; }

b, strong {
  font-weight: normal; }

img {
  max-width: 100%; }

.module {
  margin-top: 38px;
  margin-bottom: 38px; }

.whiteRow {
  background: #ffffff; }

a.generalButton,
.generalButton {
  display: inline-block;
  font-family: 'Montserrat-Light';
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  padding: 7px 20px 5px;
  border: 2px solid #ffffff;
  min-width: 266px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }
  a.generalButton:hover,
  .generalButton:hover {
    background: rgba(255, 255, 255, 0.15); }

/* row color */
.redRow {
  background-color: #af1920; }

.greyRow {
  background-color: #efefef; }

.darkGreyRow {
  background-color: #434b56; }

.metalGreyRow {
  background-color: #2c373e; }

.redCrimsonRow {
  background-color: #a8101d; }

@media (min-width: 992px) {
  body {
    font-size: 18px; }
  h2, .h2Style {
    font-size: 40px; }
  h3, .h3Style {
    font-size: 20px; } }

@font-face {
  font-family: 'hoard';
  src: url("../fonts/hoard.eot?kbial6");
  src: url("../fonts/hoard.eot?kbial6#iefix") format("embedded-opentype"), url("../fonts/hoard.ttf?kbial6") format("truetype"), url("../fonts/hoard.woff?kbial6") format("woff"), url("../fonts/hoard.svg?kbial6#hoard") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="iconFont-"], [class*=" iconFont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hoard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.iconFont-h-arrow-down:before {
  content: "\e900"; }

.iconFont-h-arrow-left:before {
  content: "\e901"; }

.iconFont-h-calendar:before {
  content: "\e902"; }

.iconFont-h-close:before {
  content: "\e903"; }

.iconFont-h-doc:before {
  content: "\e904"; }

.iconFont-h-faq:before {
  content: "\e905"; }

.iconFont-h-github:before {
  content: "\e906"; }

.iconFont-h-graph:before {
  content: "\e907"; }

.iconFont-h-info:before {
  content: "\e908"; }

.iconFont-h-mail:before {
  content: "\e909"; }

.iconFont-h-menu:before {
  content: "\e90a"; }

.iconFont-h-play:before {
  content: "\e90b"; }

.iconFont-h-plus:before {
  content: "\e90c"; }

.iconFont-h-reddit:before {
  content: "\e90d"; }

.iconFont-h-slack:before {
  content: "\e90e"; }

.iconFont-h-twiiter:before {
  content: "\e90f"; }

/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.lockScroll {
  overflow: hidden; }

.contribution {
  overflow: hidden;
  color: #ffffff;
  background: #7b0211;
  background: -moz-linear-gradient(top, #7b0211 0%, #ae171f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #7b0211), color-stop(100%, #ae171f));
  background: -webkit-linear-gradient(top, #7b0211 0%, #ae171f 100%);
  background: -o-linear-gradient(top, #7b0211 0%, #ae171f 100%);
  background: -ms-linear-gradient(top, #7b0211 0%, #ae171f 100%);
  background: linear-gradient(to bottom, #7b0211 0%, #ae171f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b0211', endColorstr='#ae171f', GradientType=0 );
  background-attachment: fixed; }

.contributionBG {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 0; }
  .contributionBG .contributionImage {
    min-width: 100%;
    max-width: none;
    height: 126px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: -26px;
    left: 0;
    z-index: 0; }

.contributionHeader {
  position: relative;
  z-index: 9;
  height: 50px; }
  .contributionHeader .logo {
    padding-top: 12px;
    padding-left: 9px;
    float: left; }
    .contributionHeader .logo img {
      width: 71px; }

.mainContentContainer > .container {
  width: 100%;
  max-width: 1260px; }

.mainContent {
  padding-bottom: 30px; }

.scrollbar-inner > .scroll-element.scroll-y {
  width: 5px;
  right: 7px; }
  .scrollbar-inner > .scroll-element.scroll-y .scroll-bar {
    background-color: #ffffff !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

@media (min-width: 992px) {
  h2, .h2Style {
    margin-bottom: 22px; }
  .contributionBG .contributionImage {
    height: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0); }
  .contributionHeader {
    height: 82px; }
    .contributionHeader .logo {
      padding-top: 30px;
      padding-left: 37px; }
      .contributionHeader .logo img {
        width: 107px; }
  .mainContent {
    margin-bottom: 50px; } }

/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.timerContainer {
  font-size: 0;
  margin-top: 17px; }
  .timerContainer .ClassyCountdown-days, .timerContainer .ClassyCountdown-hours, .timerContainer .ClassyCountdown-minutes, .timerContainer .ClassyCountdown-seconds {
    position: relative;
    display: inline-block;
    width: 75px !important;
    height: 75px !important;
    margin: 0 10px 63px; }
  .timerContainer .ClassyCountdown-minutes, .timerContainer .ClassyCountdown-seconds {
    visibility: hidden;
    position: absolute;
    left: 0;
    z-index: -1000; }
  .timerContainer .ClassyCountdown-value {
    margin: 0 !important;
    position: absolute;
    top: 21px;
    right: auto;
    bottom: auto;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0); }
    .timerContainer .ClassyCountdown-value > div {
      font-size: 26px; }
    .timerContainer .ClassyCountdown-value > span {
      display: block;
      font-family: 'Montserrat-Bold';
      font-size: 16px !important;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 31px; }

.topStatus {
  text-align: center;
  margin-top: 25px; }
  .topStatus .eventCountDownContainer {
    background-position: bottom;
    background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 5px 1px;
    background-repeat: repeat-x; }
    .ie9 .topStatus .eventCountDownContainer {
      border-bottom: 1px dotted #d19da1; }
  .topStatus .eventCountDownDate {
    font-family: 'Roboto-Thin';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 9px; }
  .topStatus .eventCountDownBlock {
    font-family: 'Roboto-Thin';
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .topStatus .willRaiseContainer, .topStatus .tokenStatusContainer, .topStatus .statisticContainer {
    padding: 22px 0 24px;
    background-position: bottom;
    background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 5px 1px;
    background-repeat: repeat-x; }
    .ie9 .topStatus .willRaiseContainer, .ie9 .topStatus .tokenStatusContainer, .ie9 .topStatus .statisticContainer {
      border-bottom: 1px dotted #d19da1; }
  .topStatus .willRaiseValue, .topStatus .willRaiseUnit, .topStatus .tokenStatusValue, .topStatus .tokenStatusUnit, .topStatus .uniqueParticipantNo, .topStatus .statisticValue {
    font-family: 'Roboto-Thin';
    font-size: 30px;
    text-transform: uppercase; }
  .topStatus .willRaiseUnit, .topStatus .tokenStatusUnit, .topStatus .statisticUnit {
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px; }
  .topStatus .uniqueParticipant {
    padding: 22px 0 24px;
    background-position: top;
    background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 5px 1px;
    background-repeat: repeat-x; }
    .ie9 .topStatus .uniqueParticipant {
      border-top: 1px dotted #d19da1; }

.iconLinks {
  list-style: none;
  margin: 0;
  padding: 34px 0 32px;
  background-position: bottom;
  background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x; }
  .ie9 .iconLinks {
    border-bottom: 1px dotted #d19da1; }
  .iconLinks li {
    margin-bottom: 31px; }
    .iconLinks li:last-child {
      margin-bottom: 0; }
  .iconLinks a {
    display: inline-block;
    font-family: 'Roboto-Light';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px; }
    .iconLinks a i {
      font-size: 29px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }

.termCondition {
  padding: 28px 0; }
  .termCondition > *:last-child {
    margin-bottom: 0; }
  .termCondition p {
    font-size: 14px;
    line-height: 28px; }

.mainTitleSection {
  text-align: center; }

@media (min-width: 992px) {
  .timerContainer {
    margin-top: 32px; }
    .timerContainer .ClassyCountdown-days, .timerContainer .ClassyCountdown-hours, .timerContainer .ClassyCountdown-minutes, .timerContainer .ClassyCountdown-seconds {
      margin-bottom: 50px; }
    .timerContainer .ClassyCountdown-minutes, .timerContainer .ClassyCountdown-seconds {
      visibility: visible;
      position: relative;
      left: auto; }
  .topStatus h2 {
    font-size: 30px; }
  .topStatus .eventCountDown {
    background-position: right;
    background-image: linear-gradient(#d19da1 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 1px 5px;
    background-repeat: repeat-y; }
    .ie9 .topStatus .eventCountDown {
      border-right: 1px dotted #d19da1; }
  .topStatus .eventCountDownContainer {
    padding-bottom: 0;
    background-image: none; }
  .topStatus .eventCountDownDate {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 20px; }
  .topStatus .eventCountDownBlock {
    font-size: 24px; }
  .topStatus .willRaiseContainer, .topStatus .tokenStatusContainer, .topStatus .statisticContainer {
    padding: 0;
    background-image: none; }
  .topStatus .willRaiseValue, .topStatus .tokenStatusValue, .topStatus .uniqueParticipantNo, .topStatus .statisticValue {
    font-size: 48px;
    line-height: 48px; }
  .topStatus .willRaiseValue {
    margin-bottom: 58px; }
  .topStatus .uniqueParticipant {
    padding: 29px 0 0;
    background-image: none; }
    .topStatus .uniqueParticipant h2 {
      font-size: 24px;
      margin-bottom: 7px; }
  .topStatus .uniqueParticipantNo {
    margin-bottom: 0; }
  .iconLinks {
    margin-top: 38px;
    padding: 45px 0 0;
    text-align: right;
    background-position: top;
    background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 5px 1px;
    background-repeat: repeat-x; }
    .ie9 .iconLinks {
      border-top: 1px dotted #d19da1; }
    .iconLinks li {
      display: inline-block;
      margin-left: 15px; }
  .termCondition {
    padding: 8px 0 0; }
    .termCondition h3 {
      margin-bottom: 8px; }
    .termCondition p {
      font-size: 18px;
      line-height: 36px;
      margin-bottom: 0; }
  .mainTitleSection {
    margin-top: 16px; }
    .mainTitleSection h2 {
      margin-bottom: 39px; } }

/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.summarySection {
  text-align: center;
  margin-bottom: 23px; }
  .summarySection h2 {
    margin-bottom: 26px; }
  .summarySection .summaryThankYou {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 28px; }
  .summarySection .summaryTable table {
    font-family: 'Roboto-Thin';
    font-size: 24px;
    width: 100%; }
    .summarySection .summaryTable table td {
      vertical-align: top;
      padding-bottom: 15px; }
    .summarySection .summaryTable table tr:last-child td {
      padding-bottom: 0; }
    .summarySection .summaryTable table .valueColumn {
      width: 55%;
      text-align: right;
      padding-right: 15px; }
      .summarySection .summaryTable table .valueColumn span {
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
        margin-left: 10px; }
    .summarySection .summaryTable table .activityColumn {
      width: 45%;
      text-align: left;
      padding-left: 15px; }

.after .iconLinks {
  padding-bottom: 0;
  background-position: top;
  background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x; }
  .ie9 .after .iconLinks {
    border-top: 1px dotted #d19da1; }

.contributeStatus {
  text-align: center;
  padding-top: 30px;
  background-position: top;
  background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x; }
  .ie9 .contributeStatus {
    border-top: 1px dotted #d19da1; }
  .contributeStatus h3 {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 33px; }
  .contributeStatus .contributeStatusInput {
    width: 100%;
    max-width: 360px;
    font-size: 18px;
    border: none;
    background: #ffffff;
    color: #000000;
    padding: 0 15px;
    height: 38px;
    margin-bottom: 38px;
    outline: none; }
    .contributeStatus .contributeStatusInput::-moz-placeholder {
      font-family: 'Roboto-Light';
      color: #bcbcbc; }
    .contributeStatus .contributeStatusInput::-webkit-input-placeholder {
      font-family: 'Roboto-Light';
      color: #bcbcbc; }
    .contributeStatus .contributeStatusInput:-ms-input-placeholder {
      font-family: 'Roboto-Light';
      color: #bcbcbc; }

.mainOverlay {
  min-width: 320px;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease; }
  .mainOverlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; }
  .mainOverlay.overlayOpen {
    z-index: 999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
    .mainOverlay.overlayOpen .overlayDialog {
      top: 0; }
  .mainOverlay .overlayDialog {
    position: relative;
    top: -100%;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 685px;
    padding: 30px 10px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
  .mainOverlay .overlayDialogContent {
    position: relative;
    background-color: #ffffff;
    color: #232323;
    padding: 30px 23px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; }
  .mainOverlay .textContent {
    margin-bottom: 30px; }
    .mainOverlay .textContent *:last-child {
      margin-bottom: 0; }
  .mainOverlay .overlayTitle {
    margin-bottom: 35px; }
  .mainOverlay .closeOverlay {
    color: #ffffff;
    border-color: #af1920;
    background: #af1920;
    min-width: 212px; }

.alertContainer {
  margin-top: 20px; }

@media (min-width: 992px) {
  .summarySection {
    margin-top: 16px;
    margin-bottom: 45px; }
    .summarySection h2 {
      line-height: 53px;
      margin-bottom: 40px; }
    .summarySection .summaryThankYou {
      font-size: 30px;
      margin-bottom: 40px;
      letter-spacing: 1px; }
    .summarySection .summaryTable table {
      font-size: 48px; }
      .summarySection .summaryTable table td {
        padding-bottom: 4px; }
      .summarySection .summaryTable table .valueColumn {
        width: 50%;
        padding-right: 47px; }
        .summarySection .summaryTable table .valueColumn span {
          font-size: 24px;
          margin-left: 15px; }
      .summarySection .summaryTable table .activityColumn {
        width: 50%;
        padding-left: 47px; }
  .after .iconLinks {
    margin-top: 25px;
    padding-top: 49px;
    text-align: center; }
    .after .iconLinks li {
      margin: 0 7px; }
  .contributeStatus {
    padding-top: 52px; }
  .mainOverlay .overlayDialogContent {
    padding: 45px 56px 38px; } }

/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.during .topStatus .eventCountDownContainer {
  padding-bottom: 30px; }

.graphLink {
  text-align: right;
  padding-bottom: 29px;
  background-position: bottom;
  background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x; }
  .ie9 .graphLink {
    border-bottom: 1px dotted #d19da1; }
  .graphLink .openGraph {
    padding: 0;
    border: none;
    background: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px; }
    .graphLink .openGraph i {
      font-size: 33px;
      vertical-align: middle;
      margin-right: 10px; }

.barStatusSection {
  padding-top: 32px;
  padding-bottom: 23px;
  background-position: bottom;
  background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x; }
  .ie9 .barStatusSection {
    border-bottom: 1px dotted #d19da1; }
  .barStatusSection .barStatusTotal {
    margin-bottom: 8px; }
  .barStatusSection .barTotal {
    font-family: 'Roboto-Thin';
    font-size: 36px;
    margin-bottom: 4px; }
  .barStatusSection .barTotalText, .barStatusSection .barTargetText {
    font-family: 'Montserrat-SemiBold';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 0; }
  .barStatusSection .barWrapper {
    font-size: 0;
    height: 13px;
    border: 1px solid #ff4040;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  .barStatusSection .barstatus {
    display: inline-block;
    height: 11px;
    background: #ff4040;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .barStatusSection .barTarget {
    text-align: right;
    margin-top: 14px; }
    .barStatusSection .barTarget .barTargetAmount {
      font-family: 'Roboto-Thin';
      font-size: 30px;
      margin-bottom: 0; }

.contributeTerm .checkbox-form input[type=checkbox].input-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px; }

.contributeTerm .checkbox-form input[type=checkbox].input-checkbox + label.checkbox-label {
  padding-left: 29px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 3px;
  vertical-align: bottom;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 1px;
  margin: 0;
  font-size: 14px; }

.contributeTerm {
  padding-top: 27px;
  padding-bottom: 27px; }
  .contributeTerm h2 {
    text-align: center;
    margin-bottom: 20px; }
  .contributeTerm .checkbox-group-container .label-section label {
    display: block;
    margin-bottom: 16px; }
  .contributeTerm .checkbox-form {
    margin-bottom: 6px;
    padding-left: 0; }
    .contributeTerm .checkbox-form label {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 14px;
      line-height: 24px;
      font-weight: normal; }
    .contributeTerm .checkbox-form .checkbox-label {
      background-image: url(../Images/uncheck.png);
      background-size: auto 15px; }
    .contributeTerm .checkbox-form input[type=checkbox].input-checkbox:checked + label.checkbox-label {
      background-image: url(../Images/check.png); }
  .contributeTerm .confirmContinue {
    text-align: center;
    margin-top: 25px; }

.graphSection {
  margin-top: 25px; }
  .graphSection h2 {
    font-size: 20px; }
  .graphSection .no-margin {
    margin: 0 !important; }
  .graphSection .graphSectionBlock {
    text-align: center;
    margin-bottom: 38px; }
  .graphSection .graphContainer {
    display: inline-block;
    /*width: 290px;
        height: 160px;*/ }

.backSection {
  text-align: right;
  padding: 14px 0 23px;
  background-position: bottom;
  background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
  background-size: 5px 1px;
  background-repeat: repeat-x; }
  .ie9 .backSection {
    border-bottom: 1px dotted #d19da1; }
  .backSection .backButton {
    background: transparent;
    border: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .backSection .backButton i {
      font-size: 15px;
      vertical-align: middle;
      margin-right: 7px; }

.duringFirst, .contributeTerm {
  transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease; }
  .duringFirst.hideDiv, .contributeTerm.hideDiv {
    position: fixed;
    top: -100000%;
    right: -100000%;
    bottom: auto;
    left: auto;
    z-index: -100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  .duringFirst .eventCountDownDate, .contributeTerm .eventCountDownDate {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    letter-spacing: 1px; }
  .duringFirst .eventCountDownBlock, .contributeTerm .eventCountDownBlock {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    letter-spacing: 1px; }

/*.duringGraph, .howContribute {
    @include position(fixed,-100000%,-100000%,auto,auto,-100);
    @include opacity(0,0);
    @include transition(opacity 0.3s ease);

    &.show {
        position: static;
        @include opacity(1,100);
    }
}*/
.howContribute {
  position: fixed;
  top: -100000%;
  right: -100000%;
  bottom: auto;
  left: auto;
  z-index: -100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease; }
  .howContribute.show {
    position: static;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

.howContribute {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px; }
  .howContribute h2 {
    text-align: center;
    margin-bottom: 20px; }
  .howContribute p a {
    color: #ffffff;
    text-decoration: underline; }
    .howContribute p a:hover {
      text-decoration: none; }
  .howContribute .contributeContract {
    display: inline-block;
    background: rgba(127, 2, 18, 0.5);
    padding: 10px;
    margin-bottom: 15px;
    max-width: 680px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    .howContribute .contributeContract p {
      letter-spacing: 1px;
      word-break: break-all; }
    .howContribute .contributeContract > *:last-child {
      margin-bottom: 0; }
    .howContribute .contributeContract .contributeContractTitle {
      text-transform: uppercase;
      font-size: 20px; }
    .howContribute .contributeContract .contributeContractDetail {
      text-transform: uppercase; }

.contributeNavigation {
  float: right;
  width: 70%;
  margin-right: 15px;
  margin-top: 10px; }
  .contributeNavigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    text-align: right; }
    .contributeNavigation ul li {
      display: inline-block;
      margin-left: 15px; }
      .contributeNavigation ul li a {
        display: block;
        color: #ffffff; }
      .contributeNavigation ul li i {
        display: inline-block;
        vertical-align: middle;
        font-size: 26px; }

.backNav {
  display: none; }
  .backNav ul li {
    font-size: 18px; }
    .backNav ul li i {
      font-size: 15px;
      margin-right: 10px; }

.continueButton[disabled=disabled] {
  color: #aaaaaa;
  border-color: #aaaaaa; }
  .continueButton[disabled=disabled]:hover {
    background-color: transparent; }

@media (min-width: 992px) {
  .during .topStatus .eventCountDown {
    background-image: none; }
  .during .topStatus .eventCountDownContainer {
    padding-bottom: 25px; }
  .graphLink {
    padding-bottom: 25px; }
  .barStatusSection {
    padding: 0 68px 44px 68px;
    background-image: none;
    background-position: bottom;
    background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 5px 1px;
    background-repeat: repeat-x; }
    .ie9 .barStatusSection {
      border-bottom: 1px dotted #d19da1; }
    .barStatusSection .barStatusTotal {
      margin-bottom: 9px; }
    .barStatusSection .barTotal {
      font-size: 70px;
      line-height: normal;
      margin-bottom: 8px; }
    .barStatusSection .barTotalText, .barStatusSection .barTargetText {
      font-size: 16px;
      line-height: normal; }
    .barStatusSection .barContainer {
      position: relative;
      padding-right: 175px; }
    .barStatusSection .barTarget {
      text-align: center;
      padding-left: 127px;
      position: absolute;
      top: auto;
      right: 0;
      bottom: -11px;
      left: auto;
      z-index: 1; }
      .barStatusSection .barTarget img {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        z-index: 1; }
      .barStatusSection .barTarget .barTargetAmount {
        margin-bottom: 4px; }
  .contributeTerm {
    padding-top: 43px; }
    .contributeTerm h2 {
      margin-bottom: 30px;
      font-size: 30px; }
    .contributeTerm .checkboxWrapper {
      margin-bottom: 5px; }
    .contributeTerm .checkbox-form label {
      font-size: 18px !important;
      line-height: 30px; }
    .contributeTerm .checkbox-form .checkbox-label {
      background-size: auto 20px;
      background-position: 0 4px !important; }
    .contributeTerm .confirmContinue {
      margin-top: 45px; }
  .graphSection {
    margin-top: 40px;
    padding-top: 42px;
    background-position: top;
    background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 5px 1px;
    background-repeat: repeat-x; }
    .ie9 .graphSection {
      border-top: 1px dotted #d19da1; }
    .graphSection h2 {
      font-size: 24px;
      margin-bottom: 21px; }
    .graphSection .graphSectionBlock {
      margin-bottom: 0; }
    .graphSection .graphContainer {
      /*max-width: 407px;
            height: 226px;*/ }
  .backSection {
    padding: 14px 0 20px; }
  .contributeNavigation {
    margin-top: 31px;
    margin-right: 27px; }
    .contributeNavigation ul li {
      font-size: 18px;
      margin-left: 33px; }
      .contributeNavigation ul li a {
        text-transform: uppercase;
        letter-spacing: 1px; }
        .contributeNavigation ul li a:hover span {
          text-decoration: underline; }
      .contributeNavigation ul li i {
        margin-right: 10px; }
  .duringGraph .mainTitleSection h2 {
    margin-bottom: 27px; }
  .duringGraph .topStatus > *:first-child {
    margin-bottom: 29px; }
  .duringFirst .eventCountDownDate, .contributeTerm .eventCountDownDate {
    display: inline-block;
    margin-top: 0; }
  .duringFirst .eventCountDownBlock, .contributeTerm .eventCountDownBlock {
    display: inline-block; }
  .howContribute {
    padding-top: 43px; }
    .howContribute h2 {
      font-size: 30px;
      margin-bottom: 27px; }
    .howContribute p {
      margin-bottom: 22px; }
    .howContribute .contributeContract {
      width: 680px;
      padding: 28px 20px 20px;
      margin-bottom: 19px; }
      .howContribute .contributeContract .contributeContractTitle {
        font-size: 30px; }
      .howContribute .contributeContract .contributeContractDetail {
        font-size: 24px; }
    .howContribute > *:last-child {
      margin-bottom: 0; } }

/* font size */
/* timimg */
/* Structure */
/* General color */
/* font color */
/* page sections background color */
/*alert Message*/
.instruction {
  margin-top: 16px; }
  .instruction a {
    font-family: 'Roboto-Regular';
    text-decoration: underline;
    color: #ffffff !important; }
    .instruction a:hover {
      text-decoration: none; }
  .instruction strong {
    font-family: 'Roboto-Regular'; }

.questionContainer {
  margin-top: 25px; }
  .questionContainer .questionItem {
    background-position: top;
    background-image: linear-gradient(to right, #d19da1 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 5px 1px;
    background-repeat: repeat-x; }
    .ie9 .questionContainer .questionItem {
      border-top: 1px dotted #d19da1; }
  .questionContainer .question {
    position: relative;
    font-family: 'Montserrat-Light';
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 11px 0 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .questionContainer .question.active {
      /*font-size: 24px;
            line-height: 36px;*/ }
      .questionContainer .question.active i {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg); }
    .questionContainer .question i {
      font-size: 12px;
      position: absolute;
      top: 17px;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 1; }
  .questionContainer .anwser {
    display: none;
    padding-bottom: 19px; }
    .questionContainer .anwser p, .questionContainer .anwser li {
      font-size: 14px;
      line-height: 24px; }
    .questionContainer .anwser ul li, .questionContainer .anwser ol li {
      padding-left: 23px;
      background: url("../images/white-bullet.png") no-repeat;
      background-position: 0px 7px;
      margin-bottom: 6px; }
      .questionContainer .anwser ul li *:last-child, .questionContainer .anwser ol li *:last-child {
        margin-bottom: 0; }
    .questionContainer .anwser ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    .questionContainer .anwser ol {
      padding-left: 53px; }
      .questionContainer .anwser ol li {
        background: none;
        padding-left: 15px; }
    .questionContainer .anwser > *:last-child {
      margin-bottom: 0; }

.instructionSection {
  margin-bottom: 40px; }
  .instructionSection .questionContainer .question {
    padding-left: 40px; }

.strongText {
  font-family: 'Roboto-Regular'; }

@media (min-width: 992px) {
  .questionContainer .question {
    font-size: 24px;
    line-height: 30px;
    padding: 19px 0 19px;
    /*&.active {
                font-size: 30px;
                line-height: 36px;
            }*/ }
    .questionContainer .question i {
      top: 26px; }
  .questionContainer .anwser {
    padding-bottom: 29px; }
    .questionContainer .anwser p, .questionContainer .anwser li {
      font-size: 18px;
      line-height: 36px; }
    .questionContainer .anwser ul li, .questionContainer .anwser ol li {
      padding-left: 32px;
      background-position: 0px 15px;
      margin-bottom: 0; }
    .questionContainer .anwser ol {
      padding-left: 58px; }
      .questionContainer .anwser ol li {
        padding-left: 20px; }
  .duringFAQ .iconLinks {
    background-image: none;
    margin-top: 0; }
  .instructionSection {
    margin-bottom: 50px; } }

  .cookies-message-container{
    color: black; 
  }

