$tabletSize: 768px;
$labtopSize: 992px;
$DesktopSize: 1200px;

/* font size */
$generalFontSizeMobile: 16px;
$generalFontSizeDesktop: 18px;

/* timimg */
$transitionTime: 0.3s;
$transitionTimimg:ease;

/* Structure */

/* General color */
$generalRed: #af1920;
$generalRedLink: #ff3f40;
$greyBG: #efefef;
$greyDarkBG: #434b56;
$greyMetalBG: #2c373e;
$redCrimsonBG: #a8101d;

/* font color */
$pageFontColor: #232323;

/* page sections background color */
$pageBG: #ffffff;

/*alert Message*/
$textWarning: #F09405;
$textSuccess: #029C3E;

