@font-face {
    font-family: 'hoard';
    src: url('../fonts/hoard.eot?kbial6');
    src: url('../fonts/hoard.eot?kbial6#iefix') format('embedded-opentype'), url('../fonts/hoard.ttf?kbial6') format('truetype'), url('../fonts/hoard.woff?kbial6') format('woff'), url('../fonts/hoard.svg?kbial6#hoard') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconFont-"], [class*=" iconFont-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hoard' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconFont-h-arrow-down:before {
    content: "\e900";
}

.iconFont-h-arrow-left:before {
    content: "\e901";
}

.iconFont-h-calendar:before {
    content: "\e902";
}

.iconFont-h-close:before {
    content: "\e903";
}

.iconFont-h-doc:before {
    content: "\e904";
}

.iconFont-h-faq:before {
    content: "\e905";
}

.iconFont-h-github:before {
    content: "\e906";
}

.iconFont-h-graph:before {
    content: "\e907";
}

.iconFont-h-info:before {
    content: "\e908";
}

.iconFont-h-mail:before {
    content: "\e909";
}

.iconFont-h-menu:before {
    content: "\e90a";
}

.iconFont-h-play:before {
    content: "\e90b";
}

.iconFont-h-plus:before {
    content: "\e90c";
}

.iconFont-h-reddit:before {
    content: "\e90d";
}

.iconFont-h-slack:before {
    content: "\e90e";
}

.iconFont-h-twiiter:before {
    content: "\e90f";
}
